
<app-navbar></app-navbar>


<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<h2>Please Make Required Changes</h2>

<form method = "post" action="/updateAssignment" id="updateForm">

  <div class="container">
    <br>
    <select name="assignmentList" form ="updateForm">
      <option *ngFor="let assignment of assignments" value= {{assignment.problemid}}>
        {{assignment.problemid}}:{{assignment.name}}
      </option>
    </select>
    <br>
    <label for="problemid"><b>Problem ID</b></label>
    <input id="problemid" type="number" placeholder="ID" name="problemid" required>
    <br>
    <label for="name"><b>Assignment Name</b></label>
    <input id="name" type="text" placeholder="Enter Assignment Name" name="name" required>

    <label for="description"><b>Description</b></label>
    <input id="description" type="text" placeholder="Enter Description" name="description" required>

    <label for="input"><b>Input</b></label>
    <textarea id="input" type="text" placeholder="Input Sample" name="input" rows="5" cols="80"></textarea>

    <label for="output"><b>Output</b></label>
    <textarea id="output" type="text" placeholder="Output Sample" name="output" rows="5" cols="80"></textarea>

    <button id="submitButton" type="submit">Update Assignment</button>
    <!-- (click)="goBack()" -->
  </div>

</form>

<form method = "post" action="/deleteAssignment" id="deleteForm">

  <div class="container">
    <br>
    <!--<select name="assignmentList" form ="deleteForm">
      <<option *ngFor="let assignment of assignments" name = "problemid" value= {{assignment.problemid}}>
        {{assignment.problemid}}:{{assignment.name}}
      </option>
    </select>-->
    <label for="problemid"><b>Problem ID</b></label>
    <input id="problemid" type="number" placeholder="ID" name="problemid" required>
    <br>

    <button id="submitButton" type="submit">Delete Assignment</button>
    <!-- (click)="goBack()" -->
  </div>

</form>



</body>
</html>

<!-- <app-footer></app-footer> -->
